<% include partials/header %> 

<!--<h1> This is Dragon Dance Dragonite OP AF </h1>-->

<!--<img src="https://orig00.deviantart.net/89b0/f/2014/151/2/c/dragonite_by_soyungnomo-d7kh6qz.jpg"> </img>-->


<% include partials/footer %> 