<% include partials/header %>

<h1>Carlos The Dev Course Camp</h1>

<p>Welcome to my site, its a work in progress, and continually working on it.</p>

<a href="/campgrounds">View All my Blogs!</a>

<% include partials/footer %>